<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录</title>
    <link rel="stylesheet" href="../../../public/static/plugins/layui/css/layui.css">
    <script type="text/javascript" src="../../../public/static/plugins/layui/layui.js"></script>
</head>
<body style="background:#1E9FFF">
   <div style="position: absolute;left:50%;top:50%;width:500px;margin-left:-250px;margin-top:-200px;">
    <div style="background:#ffffff;padding:20px;border-radius:4px;box-shadow:5px 5px 20px #444444;">
        <div class="layui-from">
            <div class="layui-form-item" style="color:gray">
                <h2>后台管理系统</h2>
                <hr />
            </div>
            <form action="/tp5/public/admins/account/dologin" method="post">
                <div class="layui-form-item">
                    <label class="layui-form-label">用户名</label>
                    <div class="layui-input-block">
                        <input type="text" id="username" name="username" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">密&nbsp;&nbsp;&nbsp;&nbsp;码</label>
                    <div class="layui-input-block">
                        <input type="password" id="password" name="password" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">验证码</label>
                    <div class="layui-input-inline">
                        <input type="text" id="verifycode" name="verifycode" class="layui-input">
                    </div>
                    <img src="{:captcha_src()}"onclick="reloadImg()" id="img"  />
                </div>
                <div class="lay-form-item">
                    <div class="layui-input-block">
                        <input type="submit" class="layui-btn"  onclick="dologin()" />
                    </div>
                </div>
            </form>
        </div>
    </div>
   </div>
   <script>
       layui.use(['layer'],function(){
           $ = layui.jquery;
           layer = layui.layer;

           //用户名空间获取焦点
           $('#username').focus();
           //回车登陆
           $('input').keydown(function(e) {
               if(e.keyCode=13){
                   
               }
           });
           //重新获取验证码
           document.getElementById('img').onclick = function() {
               $('#img').attr('src','{:captcha_src()}?rand='+Math.random())
           }
       });
   </script>
</body>
</html>