<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="../../../public/static/plugins/layui/css/layui.css">
	<script type="text/javascript" src="../../../public/static/plugins/layui/layui.js"></script>
	<title>频道</title>
	<style type="text/css">
		.list {
			background: #009688;
			margin-left: 30px;
			padding: 10px;
			color: #ffffff;
			margin-bottom: 20px;
		}
	</style>
</head>

<body style="padding:10px;">
	<div class="header">
		<span class="list">频道管理</span>
	</div>
	<form class="layui-form">
        <input type="hidden" name="flag" value="area"> 
        <table class="layui-table">
			<thead>
				<tr>
					<th>ID</th>
					<th>排序</th>
					<th>标签名称</th>
					<th>是否禁用</th>
				</tr>
			</thead>
			<tbody>

				{volist name="data" id="vo"}
				<tr>
					<td>{$vo.id}</td>
					<td><input type="text" class="layui-input" name='ords[{$vo.id}]' value="{$vo.ord}"></td>
					<td><input type="text" class="layui-input" name='titles[{$vo.id}]' value="{$vo.title}"></td>
					<td> <input type="checkbox" lay-skin="primary" name="status[{$vo.id}]" title="禁用" {$vo.status?'checked':''} value="1"></td>					</td>
				</tr>
				{/volist}
				<tr>
					<td></td>
					<td><input type="text" class="layui-input" name="ords[0]"></td>
					<td><input type="text" class="layui-input" name="titles[0]"></td>
					<td> <input type="checkbox" lay-skin="primary" name="status[0]" title="禁用" value="1"></td>
					<td></td>
				</tr>
	</tbody>
	</table>
</form>
	<button class="layui-btn" onclick="save()">保存</button>
	<script type="text/javascript">
		layui.use(['layer', 'form'], function () {
			$ = layui.jquery;
			layer = layui.layer;
			form = layui.form;
		});
		function save() {
			$.post('/tp5/public/admins/Labels/save', $('form').serialize(), function (res) {
            if (res.code > 0) {
                layer.msg(res.msg, {
                    'icon': 2
                });
            } else {
                layer.msg(res.msg, {
                    'icon': 1
                });
                setTimeout(function () {
                   window.location.reload();
                },100);
            }
        })
		}
	</script>
</body>

</html>